*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/* .d-block{
    height: 370px;
} */

main{
    /* height: 100vh;
    text-align: center;
    vertical-align: middle; */
    background-color: rgb(44, 42, 42);
    color: white;
    margin-bottom: 0%;
}

.encabezado{
    display: flex;
    background-color: rgb(158, 15, 15);
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.logodnd{
    width: 300px;
}


.carousel{
    margin: 10px;
    background-color: rgb(105, 101, 101);
}

#linea{
    background-color: white;
    margin: 20px;
    /* margin-bottom: 30px; */
    height: 1px;
}

.contenedor{
    display: flex;
    align-items: center;
}

.info{
    width: 50vh;
    color:white;
    margin-right: 10px;  
}
.dragon{
    border-radius: 10px;
    width: 290px;
    height: 420px;
}
.fotodado{
    margin-left: 10px;
}


section{
    display: flex;
    background-color: white;
    margin: 10px;
    width: 400px;
    justify-content: center;
    /* height: 200px; */
    border-radius: 1rem;
    transition: all 0.5s;
}

section:hover{
    transform: scale(1.2);
}

section img{
    height: 100%;
    width: 50%;
    object-fit: contain;
    background-color: rgba(255, 166, 0, 0.352);
    border-radius: 1rem 0 0 1rem;
}

section div{
    width: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section div h2{
    width: 100%;
    min-height: 80px;
    text-align: center;
    font-size: 2rem;
}

section div p{
    padding: 1rem;
}

footer{
    height: 5vh;
    background-color: black;
    color: white;
    margin-top: 0px;
    text-align: center;
    padding: 5px;
}


#contenedor_cards{
    margin: 10px;
    width: 80vw;
    border-radius: 20px;
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: bisque
}


.cards{
    background-color: white;
    margin: 15px;
    width: 280px;
    height: 320px;
    text-align: center;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.cards img {
    width: 180px;
    height: 220px;
    filter: drop-shadow(0 -6mm 4mm rgb(158, 160, 149));
}

.borde{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 190px;
    height: 40px;
    border-radius: 10px;
    margin-top: 8px;
}

.cards button{
    background-color: black;
    color: white;
    width: 180px;
    border-radius: 10px;
    border-bottom: 10px;
    border: solid white 2px;
    padding: 2px;
}

.pj{
    display: flex;
    justify-content: center;
}

header {
    height: 32vh;
    background-image: url(https://i.postimg.cc/htcGCDXt/dados.jpg);
    background-position: 50% 50%;
    background-size: 80%;
    /* width: 100vw; */

    /* position: relative; */
}


.btn{
    width: 100%;
}

.img{
    min-height: 100px;
}

.col{
    background-color: rgb(105, 101, 101);
}

#headform{
    background-color: rgb(105, 101, 101);
}

#bodyform{
    background-color: rgb(105, 101, 101);
}

form {
    border: 2px solid white;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

fieldset {
    color: white;
    background-color: rgb(32, 34, 34);
    padding: 0.5rem;
    border-radius: 1rem;
}

#proximamente {
    background-color: rgb(105, 101, 101);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.animated-text {
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

